# Name: Radial_Profile_Angle_Ext

# Description:
# This plugin lets you choose the starting angle and integration angle
# over which the integration on the defined circle is done.
# The integration will be done over an area defined by :
# starting angle +/- integration angle.
# 
# The size and the position of the Roi can be defined and modified by
# either using the plugin menu, the mouse or shortkeys on keyboard.
# Additionnally, the integration calculation can be done over a whole stack.
# 
# The plugin is implementing MultyPlotWindow developped in the Color_Profiler
# routine by Dimiter Prodanov (University of Leiden).
# 
# The plugin includes also a routine abling the calculation of the radius
# of the generated Roi and saving the data in a result panel.
# 
# The new version implements macro recording and excecution features.
# And following several discussions and advices with Michael Schmid
# (schmid@iap.tuwien.ac.at) the ROI position and size can be modified
# with the mouse and the opening angle cone is always drawn together
# with the round ROI.
# 
# Finally the plugin takes also into account a bug correction introduced
# by Kota Miura (miura@embl.de).

# Author: Philippe Carl
# Version: 1.1
# Date: 2014/01/13
# Requires: ImageJ 1.48p

Plugins, "Radial Profile Angle", Radial_Profile_Angle_Ext
Help>About Plugins, "Radial Profile Angle...", Radial_Profile_Angle_Ext("about")
